{% extends '_navbar.html.twig' %}

{% block title %}New Partida{% endblock %}

{% block page_content %}
    <h1>Create new Partida</h1>

    {{ include('partida/_form.html.twig') }}

    <a href="{{ path('app_partida_index') }}">back to list</a>
{% endblock %}
